@charset="utf-8";

/*
    I'm a style comment
*/



h2 {
    color: #A0D2DB;
    text-align: color;
}

#hi {
    color: #726DA8;
    width: 100%;
    border-bottom: 3px dotted #C490D1;
}

.hehe {
    color: #C490D1;
    font-family: Helvetica, sans-serif;
    line-height: 2em;
    vertical-align: sub;
}